@use '../abstracts/variables' as *;

.btn {
    text-decoration: none;
    color: $col-accent;
    background-color: transparent;
    border: 2px solid $col-accent;
    border-radius: 5px;
    padding: .75em 1em;
}

.btn:hover,
.btn:focus {
    outline: none;
    cursor: pointer;
    background-color: $col-accent;
    color: $col-light;
}

.contact__btn {
    color: $col-light;
    border: 2px solid $col-light;
    justify-self: center;
}

.contact__btn:hover,
.contact__btn:focus {
    background-color: $col-light;
    color: $col-dark;
}
