
/*
=======================
    burger-btn-animatie
=======================
*/

.burger-btn {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
    height: 2.2em;
    width: 2.2em;
    
    position: relative;
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;
}

.burger-btn.open .burger-icon {
    background-color: transparent;
    transform: translateX(-30px);
}

.burger-btn.open .burger-icon::before {
    transform: rotate(45deg) translate(21px, -21px);
}

.burger-btn.open .burger-icon::after {
    transform: rotate(-45deg) translate(21px, 21px);
}

.burger-icon {
    background-color: #e4e4e4;
    border-radius: 100vh;
    
    height: 3px;
    width: 1.5em;

    position: absolute;
    
    transition: all .5s ease-in-out;
}

.burger-icon::before,
.burger-icon::after {
    content: '';
    
    background-color: #e4e4e4;
    border-radius: 100vh;
    
    height: 3px;
    width: 1.5em;

    position: absolute;
    left: 0;

    transition: all .5s ease-in-out;
}

.burger-icon::before {
    transform: translateY(.6em);
}

.burger-icon::after {
    transform: translateY(-.6em);
}

.burger-icon--light {
    background-color: #e4e4e4;
    transition-delay: .3s;
}

.burger-icon--light::after {
    background-color: #e4e4e4;
    transition-delay: .3s;
}

.burger-icon--light::before {
    background-color: #e4e4e4;
    transition-delay: .3s;
}